[submodule "Fingerprint-Region-based-Data-Augmentation-using-Explainable-AI-for-FTIR-based-MP-Classification"]
	path = Fingerprint-Region-based-Data-Augmentation-using-Explainable-AI-for-FTIR-based-MP-Classification
	url = https://github.com/lyheiyu/Fingerprint-Region-based-Data-Augmentation-using-Explainable-AI-for-FTIR-based-MP-Classification.git
